---
import client from '@/lib/client'
import { formatDateByTimeZone } from '@/lib/utils'

interface Props {
  class?: string
}

let data;
try {
  const response = await client.api.github['repo-info'][':owner'][
    ':repository'
  ].$get({
    param: {
      owner: 'andrespaulino',
      repository: 'andrespaulino.dev'
    }
  });
  
  if (response.status === 200) {
    data = await response.json();
  }
} catch (error) {
  console.error('Error fetching repository info:', error);
}

// Fallback if data isn't available
if (!data) {
  data = {
    pushedAt: new Date().toISOString()
  };
}

const date = new Date(data.pushedAt);
const formattedDate = formatDateByTimeZone(date);
const { class: className } = Astro.props;
---

<p class:list={['text-xs min-[961px]:self-end', className]}>
  Last updated by Andres Paulino <br class='xs:hidden' /> on {formattedDate} UTC+7
</p>