---
import client from '@/lib/client'
import { formatDateByTimeZone } from '@/lib/utils'

interface Props {
  class?: string
}

let data = null;
let date = new Date();

try {
  const response = await client.api.github['repo-info'][':owner'][
    ':repository'
  ].$get({
    param: {
      owner: 'andrespaulino',
      repository: 'andrespaulino.dev'
    }
  });
  
  if (response.status === 200) {
    data = await response.json();
    if (data && data.pushedAt) {
      date = new Date(data.pushedAt);
    }
  }
} catch (error) {
  console.error('Error fetching repository info:', error)
  // Continue with default date
}

const formattedDate = formatDateByTimeZone(date)

const { class: className } = Astro.props
---

{
  data ? (
    <p class:list={['text-xs min-[961px]:self-end', className]}>
      Last updated by Andres Paulino <br class='xs:hidden' /> on {formattedDate} UTC+7
    </p>
  ) : (
    // TODO: handle error
    <p>Something went wrong 😔</p>
  )
}
